# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data
dataset (1).zip
/data/raw/
/data/interim/
/data/processed/
/data/cache/
/models/
/assets/

# OS
.DS_Store
Thumbs.db

# Extra
steps.md